body{
    padding: 5 px;
    background-color: #110D1C;
    color: white;
    text-align: center;
}

.card{
    padding: 5px;
    margin: 20px;
    background-color:whitesmoke;
    text-align: left;
}

#addModal{
    color: black;
}
.card-body{
    color:#D2E59E;
    padding: 2rem;
    margin: 10px;
}

#title{
    size: 3rem;
    text-decoration-style: double;
    color: white;
}

#navig{
    padding: 1rem;
}

.Header{
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    color: #262626;
}